// Specific CSS for your home-page
.secondary-highlight{
  // background-color: rgba($color: #f8f8f8e1, $alpha: 1.0);
  margin: 16px 0;
  border-top: 1px solid #cfcfcf9a;
  // border-bottom: 8px solid #cfcfcf9a;
}
body{
  color: #1F4690;
  background-color: #FFE5B4;
}

.qr-why.active {
  background-color: #1F4690;
  color: #FFE5B4;
}

.qr-how.active {
  background-color: #1F4690;
  color: #FFE5B4;
}

.qr-how {
  cursor: pointer;
}

.qr-why {
  cursor: pointer;
}
