// Specific CSS for your home-page
.secondary-highlight{
  // background-color: rgba($color: #f8f8f8e1, $alpha: 1.0);
  margin: 16px 0;
  border-top: 1px solid #cfcfcf9a;
  // border-bottom: 8px solid #cfcfcf9a;
}
body{
  color: #1F4690;
  background-color: #FFE5B4;
}

.qr-why.active {
  background-color: #1F4690;
  color: #FFE5B4;
}

.qr-how.active {
  background-color: #1F4690;
  color: #FFE5B4;
}

.qr-how {
  cursor: pointer;
}

.qr-why {
  cursor: pointer;
}

// .description.why {
//   background-image: url(https://res.cloudinary.com/twx-a/image/upload/e_improve,w_300,h_600,c_thumb,g_auto/v1662524087/development/automate_news.png);
// }
.primary-highlight {
  position: relative;
}

@keyframes fadeInWhy {
  0% { opacity: 0; right: 250px }
  100% { opacity: 0.6; right: 50px }
}

@keyframes fadeInHow {
  0% { opacity: 0; left: 250px }
  100% { opacity: 0.6; left: 70px }
}

.highlight-image-why {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  right: 250px;
  top: 180px;
  animation: 500ms fadeInWhy 300ms forwards;
}

.highlight-image-how {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  left: 70px;
  top: 685px;
  animation: 500ms fadeInHow 300ms forwards;
}

.description.why {
  z-index: 1;
}

.description.how {
  z-index: 1;
}
