<div class="existing-templates" data-new-template-target="rows"></div>
  <% @templates.each do |template| %>
    <div class="info shadow-sm">
      <p><%= template.updated_at.strftime("%D") %></p>
      <div class="info-content col-3">
        <%= template.name %>
      </div>
      <div class="info-content col-3">
        <%= template.body.scan(/<<(.+?)>>/).flatten.join(", ") %>
      </div>

      <div class="info-actions">
        <a href="#" class="info-removal">Edit <i class="fas fa-pencil-alt"></i></a>
        <a href="#" class="info-removal">Delete <i class="far fa-trash-alt"></i></a>
      </div>
    </div>
  <% end %>
</div>
