<div class="row m-0 p-0">
  <%= render "shared/sidebar" %>
  <div class="col-10 flex-grow-1 main-content" data-controller="new-template">
    <div class ="navbar">
      <div><h1>Templates</h1></div>
    </div>

    <div class="new-template border border-primary d-flex justify-content-center mb-3 rounded" >
      <button class="align-self-center fw-bold btn-reveal" data-action="click->new-template#revealForm">New Email Template</button>
    </div>
    <div class="template-form d-none" data-new-template-target="form">
        <%= render 'form', template: @template %>
    </div>

    <div class="trigger-labels fw-bold">
      <p class="col-1">Date</p>
      <p class="col-2 flex-grow-1 ms-2">Template Name</p>
      <p class="col-6">Variables</p>
    </div>

    <%= render 'template_rows', templates: @templates %>
  </div>
</div>
