<!-- card container -->
<div class="card ">
  <!-- card status -->
  <div class="stripe">
  </div>

  <div class="card-main-content">
    <!-- top section -->
    <div class="d-flex">

      <!-- company name -->
      <div class="m-2">Company Name</div>

    </div>

    <div class="card-body">
      <!-- textfield -->
      <div class = "d-flex card-text">
        <p>Some text</p>
      </div>

      <!-- button -->
      <div>
        <%= link_to "Click me","#", class: "btn btn-outline-success" %>
      </div>
    </div>
</div>
