<!-- card container -->
<div class="card">
  <!-- card status -->
  <div class="stripe">
  </div>

  <div class="card-main-content">
    <!-- top section -->
    <div class="d-flex justify-content-center">

      <!-- company name -->
      <div class="m-2">Company Name</div>

    </div>

    <div class="card-body">
      <!-- textfield -->
      <div class = "card-text">
        <p><strong>Account Status:</strong></p>
        <p>Some Text </p>
        <p><strong>Potential Revenue:</strong></p>
        <p>Some text</p>
      </div>

    </div>
</div>
