<div class="col-2 sidebar">
  <ol class="col-12 list-for-items">
    <li><%= link_to "Accounts", accounts_path, class:"btn side-nav-btn  responsive-font-reg" %></li>
    <li><%= link_to "Templates", templates_path, class:"btn side-nav-btn  responsive-font-reg" %></li>
    <li><%= link_to "Triggers", triggers_path, class:"btn side-nav-btn  responsive-font-reg" %></li>
    <li><%= link_to "Drafts", drafts_path, class:"btn side-nav-btn  responsive-font-reg" %></li>
  </ol>
</div>
