<div class="sidebar sticky-top">
    <ol class="list-for-items">
      <li><a href="/accounts" class="btn side-nav-btn">Dashboard</a></li>
      <li><button class="btn side-nav-btn">Accounts</button></li>
      <li><button class="btn side-nav-btn">Templates</button></li>
      <li><button class="btn side-nav-btn">Triggers</button></li>
      <li><button class="btn side-nav-btn">Drafts</button></li>
    </ol>
  </div>
