<div class="container">
  <div class="row d-flex justify-content-center py-4">
    <div class="col-6 d-flex flex-column justify-content-center">
      <h1><strong>Speed matters in Sales</strong></h1><br>
      <h3>Eliminate <span class="fw-bolder text-decoration-underline">90%</span> of work needed and reach clients & prospects quickly when a relevant breaking news hit
      </h3>
      <%= link_to "Get Started", new_user_registration_path, class: "btn btn-info btn-lg shadow w-50 mt-2 rounded fw-bolder border border-light" %>
    </div>
    <div class="col-4">
      <%= cl_image_tag("v1662131524/development/home-main-image.png", width: 500, height: 450, crop: :fill) %>
    </div>
  </div>
  <div class="vw-100 position-absolute start-0 m-0 p-4 border-top border-4 solution">
    <div class="row ">
      <div class="col-12 my-4">
        <h2 class="text-center text-decoration-underline">Why QuickReach?</h2>
      </div>
    </div>
    <div class="row d-flex justify-content-center mb-5">
      <div class="col-2 border border-2 me-4">
        <p class="d-flex justify-content-center mt-4"><i class="fa-solid fa-gear fs-1"></i></p>
        <p class="text-center">Accurate data through CRM Integration</p>
      </div>
      <div class="col-2 border border-2 me-4">
        <p class="d-flex justify-content-center mt-4"><i class="fa-solid fa-magnifying-glass fs-1"></i></p>
        <p class="text-center">Automated news query</p>
      </div>
      <div class="col-2 border border-2 me-4">
        <p class="d-flex justify-content-center mt-4"><i class="fa-solid fa-pencil fs-1"></i></p>
        <p class="text-center">Highly customisable templates</p>
      </div>
      <div class="col-2 border border-2">
        <p class="d-flex justify-content-center mt-4"><i class="fa-solid fa-paper-plane fs-1"></i></p>
        <p class="text-center">Send-ready drafts</p>
      </div>
    </div>
  </div>
</div>
