<div class="wrapperbody">
  <div class="sidebar sticky-top">
    <button class="btn btn-outline-primary m-2">menu item</button>
    <button class="btn btn-outline-primary m-2">menu item</button>
    <button class="btn btn-outline-primary m-2">menu item</button>
    <button class="btn btn-outline-primary m-2">menu item</button>
  </div>
  <div class="main-content">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore nisi, atque asperiores nostrum provident commodi repellendus qui consectetur aliquid, dolores est. Delectus similique iusto consectetur ea quibusdam vitae neque velit?
    Consequuntur, aliquid molestias ipsam itaque quo delectus, in illum saepe fuga eveniet sit doloribus et alias optio? Similique, nam. Voluptatem aspernatur odio iusto delectus tempore, accusamus nam quia quaerat earum?
    Error maiores iure voluptatibus molestiae, eligendi id corporis enim aperiam nostrum rem voluptas placeat numquam eos provident deleniti. Totam fuga harum praesentium ullam consequatur hic impedit, quaerat possimus quod ab.
    A consequatur possimus dolor iste natus itaque quam cupiditate adipisci perspiciatis vero soluta esse ipsam quibusdam eaque, cumque officiis! Officia at minima esse non voluptates quasi similique quas voluptatibus quaerat!
    Architecto, harum sit! Dolores maxime ipsum officiis sed! Nemo expedita labore itaque, voluptate numquam sapiente similique laudantium facere? Maiores error corrupti amet illum magnam officia ullam voluptatum eligendi necessitatibus similique!
    Nostrum neque quae corporis. Ut dicta fuga recusandae, fugiat mollitia perferendis facere praesentium earum sed beatae perspiciatis quae harum officiis quaerat inventore soluta aut quasi, cumque maiores nihil quo labore.
    Temporibus ducimus, earum explicabo doloribus consectetur molestiae, ad aperiam unde ullam eaque harum voluptas sint, officia voluptatem nemo adipisci nobis incidunt tempore necessitatibus facilis optio. Nulla cumque assumenda saepe alias.
    Eveniet eligendi obcaecati, explicabo atque quas possimus ducimus vitae, expedita ipsum illum ab repellendus doloremque! Voluptate maiores culpa placeat ut quibusdam dolores fuga, omnis doloremque, perferendis laudantium, ducimus necessitatibus nostrum!
    Tempora nemo culpa veritatis beatae debitis illo. Doloribus ut eaque magnam quae quasi ratione corrupti illo! Modi perspiciatis iste officiis numquam impedit, in est ea quos ullam minus dolore quisquam.
    Architecto consectetur tenetur recusandae autem exercitationem quos nulla iure veniam sed quae, voluptatibus aperiam. Animi omnis itaque tenetur optio amet eveniet sequi, quas incidunt corporis fuga nostrum aspernatur in reiciendis?
    <div class="d-flex justify-content-center"><hr class="w-50"></div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore nisi, atque asperiores nostrum provident commodi repellendus qui consectetur aliquid, dolores est. Delectus similique iusto consectetur ea quibusdam vitae neque velit?
    Consequuntur, aliquid molestias ipsam itaque quo delectus, in illum saepe fuga eveniet sit doloribus et alias optio? Similique, nam. Voluptatem aspernatur odio iusto delectus tempore, accusamus nam quia quaerat earum?
    Error maiores iure voluptatibus molestiae, eligendi id corporis enim aperiam nostrum rem voluptas placeat numquam eos provident deleniti. Totam fuga harum praesentium ullam consequatur hic impedit, quaerat possimus quod ab.
    A consequatur possimus dolor iste natus itaque quam cupiditate adipisci perspiciatis vero soluta esse ipsam quibusdam eaque, cumque officiis! Officia at minima esse non voluptates quasi similique quas voluptatibus quaerat!
    Architecto, harum sit! Dolores maxime ipsum officiis sed! Nemo expedita labore itaque, voluptate numquam sapiente similique laudantium facere? Maiores error corrupti amet illum magnam officia ullam voluptatum eligendi necessitatibus similique!
    Nostrum neque quae corporis. Ut dicta fuga recusandae, fugiat mollitia perferendis facere praesentium earum sed beatae perspiciatis quae harum officiis quaerat inventore soluta aut quasi, cumque maiores nihil quo labore.
    Temporibus ducimus, earum explicabo doloribus consectetur molestiae, ad aperiam unde ullam eaque harum voluptas sint, officia voluptatem nemo adipisci nobis incidunt tempore necessitatibus facilis optio. Nulla cumque assumenda saepe alias.
    Eveniet eligendi obcaecati, explicabo atque quas possimus ducimus vitae, expedita ipsum illum ab repellendus doloremque! Voluptate maiores culpa placeat ut quibusdam dolores fuga, omnis doloremque, perferendis laudantium, ducimus necessitatibus nostrum!
    Tempora nemo culpa veritatis beatae debitis illo. Doloribus ut eaque magnam quae quasi ratione corrupti illo! Modi perspiciatis iste officiis numquam impedit, in est ea quos ullam minus dolore quisquam.
    Architecto consectetur tenetur recusandae autem exercitationem quos nulla iure veniam sed quae, voluptatibus aperiam. Animi omnis itaque tenetur optio amet eveniet sequi, quas incidunt corporis fuga nostrum aspernatur in reiciendis?

  </div>
</div>
