<div class="container">
  <div class="row d-flex justify-content-center py-4">
    <div class="col-6 d-flex flex-column justify-content-center">
      <h1><strong>Speed matters in Sales</strong></h1><br>
      <h3>Eliminate <span class="fw-bolder text-decoration-underline">90%</span> of work needed and reach clients & prospects quickly when a relevant breaking news hit
      </h3>
      <%= link_to "Get Started", new_user_registration_path, class: "btn btn-info btn-lg shadow w-50 mt-2" %>
    </div>
    <div class="col-4">
      <%= cl_image_tag("v1662131524/development/home-main-image.png", width: 500, height: 450, crop: :fill) %>
    </div>
  </div>
</div>
