.qt-btn{
  text-decoration: none;
  border: solid 1px #1F4690;
  border-radius: 3px;
  color: #1F4690;
  padding: 8px 40px 8px 40px;
  &:hover {
    background-color: #1F4690;
    color: #FFE5B4;
  }
}

.fontawesome-to-btn{
  border: none;
  background-color: transparent;
}
