.account-card {
  display: flex;
  flex-direction: row;
  border: solid 1px #1F4690;
  box-shadow: 0px 0px 1px 1px rgba($color: #231955, $alpha: 0.2);
}

.account-card-stripe {
  min-height: 100%;
  width: 2%;
  padding: 2%;
  background-color: rgba($color: #df4646, $alpha: 1.0);
  border-radius: 2px 0 0 2px;
}

.account-card-content {
  width: 98%;
  background-color: #FFE5B4;
}

.account-card-text {
  text-decoration: none;
  color: #1F4690;
  &:hover {
    color: #1F4690;
  }
}
