.account-card {
  display: flex;
  flex-direction: row;
  border: solid 1px #1F4690;
  box-shadow: 0px 0px 1px 1px rgba($color: #231955, $alpha: 0.2);
}

.account-card-stripe {
  min-height: 100%;
  width: 2%;
  padding: 2%;
  background-color: rgba($color: #cb1a1a, $alpha: 1);
  border-radius: 2px 0 0 2px;


}

.trigger-on {
  background-color: rgba($color: #4ccb1a, $alpha: 1);
}

.account-card-content {
  width: 98%;
  background-color: rgba($color: #1F4690, $alpha: 1);
}

.card{
  display: flex;
  flex-direction: row;
  border: none;
  box-shadow: 0px 0px 1px 1px rgba($color: #231955, $alpha: 0.2);
}

.theme-text{
  color: #FFE5B4;
  text-decoration: none;
  &:hover{
    color: #E8AA42;
    background-color: #FFE5B4;
  }
}

.account-card-text {
  text-decoration: none;
  color: #FFE5B4;
  &:hover {
    color: #E8AA42;
  }
}
