.stripe{
  min-height: 100%;
  width: 5%;
  padding: 5%;
  background-color: red;
  margin-right: 2%x;
}

.card-main-content{
  width: 95%;
}

.card{
  width: 10rem;
  display: flex;
  flex-direction: row;
}
