.headers {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  border-bottom: solid 1px black;
}
.link-label a{
  text-decoration: none;
  color: #1F4690;
}
.link-label{
  text-decoration: none;
  color: #1F4690;
}
