.info {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  // background-color: rgba($color: #1F4690, $alpha: 1.0);
  color: black;
  padding: 8px 24px;
  margin: 0px;
  border-bottom: 1px solid;
  min-height: 8vh;
  &:hover{
    background-color: lightgrey;
  }
}

.info .info-content {
  flex-grow: 1;
  padding: 0 24px;
}

.info p {
  margin: 0;
  line-height: 1.4;
}

.info small {
  color: black;
  font-weight: bold;
}
.info .info-actions {
  display: flex;
}

.info-removal {
  color: black;
  margin-left: 16px;
  font-size: 14px;
  text-decoration: none;
  &:hover{
    color: black;
    text-decoration: underline;
    font-style: italic;
  }
}


a.news-url {
  color: black !important;
}

.edit-form-btn{
  background-color: transparent;
  border: none;
  font-size: 14px;
  &:hover{
    background-color: transparent;
    font-style: italic;
    text-decoration: underline;
  }
}
