// .wrapperbody {
//   display: flex;
//   justify-content: space-between;
//   margin: 2rem 2rem 2rem 0;
// }
.main-content {
  background-color: #fffcf2;
  padding: 1rem 2rem;
}
.bg-dark-blu{
  background-color: #1F4690;
}
.text-dy{
  color: #E8AA42;
}
.text-dblu{
  color: #1F4690;
}
.bg-yell{
 background-color: #FFE5B4;
}
.solution {
  background-color: white;
}

.btn-reveal{
  color: #1F4690;
  margin: 0;
  padding: 1%;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
    &:hover {
      background-color: #1F4690;
      color: #FFE5B4;
      border-color: #1F4690;
    }
}
