.navbar-lewagon {
  justify-content: space-between;
  background: $qr-blue;
  color: #FFE5B4;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand{
  transition: 300ms;
  color: white;
  font-weight: bold;
  &:hover{
    color: $qr-dy;
  }
}
.navbar-nav{
  a{
    transition: 300ms;
  color: white;
  font-weight: bold;
    &:hover{
      background-color: $qr-blue;
      color: $qr-dy;
    }
  }
}
