.navbar-lewagon {
  justify-content: space-between;
  background: #1F4690;
  color: #FFE5B4;
  a{
    color:#FFE5B4;
    &:hover{
      color: #E8AA42;
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropdown-menu{
  background: #231955;
}
