.navbar-lewagon {
  justify-content: space-between;
  background: $qr-blue;
  color: #FFE5B4;
  a{
    color:#FFE5B4;
    &:hover{
      background-color: $qr-blue;
      color: $qr-dy;
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
