.sidebar {
  width:12%;
  min-height: 100vh;
  // position: sticky;
  // top: 50%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.list-for-items {
  position: fixed;
  left: 0;
  width: 12%;
  margin: 0;
  padding: 0;
  li{
    list-style: none;
    margin: 0;
  }
}

.side-nav-btn {
  min-width: 50%;
  margin-top: 10%;
  margin-bottom: 5%;
  color: #1F4690;
  border-color: #1F4690;
  &:hover {
    background-color: #1F4690;
    color: #FFE5B4;
    border-color: #1F4690;
  }
}

.sidebar-btn {
  width: 125px;
}
