.sidebar {
  width:14%;
  min-height: 100vh;
  // position: sticky;
  // top: 50%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #fde8c3
}

.list-for-items {
  position: fixed;
  left: 0;
  width: 10%;
  margin-top: 1.6%;
  // padding: 0 ;
  li{
    list-style: none;
    margin: 0;
  }
}

.side-nav-btn {
  min-width: 70%;
  width: 125px;
  margin-top: 10%;
  margin-bottom: 5%;
  color: $qr-blue;
  border-color: $qr-blue;
  transition: 300ms;
  &:hover {
    background-color: $qr-blue;
    color: #FFE5B4;
    border-color: $qr-blue;
    font-weight: bold;
  }
}
