<p>Hi <%= @user.email %>,</p>

<p>You have 1 new draft ready!</p>

<p><%= link_to "Click here", "Notification.first.to_notification.url" %> to review and reach your client quickly!</p>

<p>Cheers,</p>
<p>QuickReach</p>

<%# <%= Notification.first.to_notification.message %>
