<!-- each keyword input box -->
<div class="wrapper-div mt-3">
  <%= form2.text_field :name %>
  <%= link_to_remove_nested(form2) do %>
    <button class="fontawesome-to-btn"> <i class="fa-solid fa-x"></i> </button>
  <% end %>
</div>
