<div class="wrapper-div">
  <%= form.text_field :name %>
  <%= link_to_remove_nested(form) do %> <!-- adds a link to add more items -->
    <button class="fontawesome-to-btn"> <i class="fa-solid fa-x"></i> </button>
  <% end %>
</div>
