<div class="wrapperbody">
  <%= render "shared/sidebar" %>
  <div class="main-content ms-3" data-controller="new-template">
    <h1>Drafts</h1>

    <div class="trigger-labels">
      <p>Date Added/Updated</p>
      <p>Subject</p>
      <p>Account</p>
      <p>Event</p>
    </div>

    <div>
      <p>02/09/2022</p>
    </div>

    <%#= render 'template_rows', templates: @templates %>
  </div>
</div>
