  <div class="sidebar sticky-top">
    <h1>DASHBOARD (ALL ACCOUNTS)</h1>
    <ol class="list-for-items">
      <li><button class="btn btn-outline-primary m-2">menu item</button></li>
      <li><button class="btn btn-outline-primary m-2">menu item</button></li>
      <li><button class="btn btn-outline-primary m-2">menu item</button></li>
      <li><button class="btn btn-outline-primary m-2">menu item</button></li>
    </ol>
  </div>
